*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 30px;
}

body {
  font-size: 1.6rem;
  line-height: 1.75;
  font-family: "Lato", sans-serif;
}

.heading-primary {
  color: #fff;
  margin-bottom: 4rem;
}
.heading-primary--main {
  display: block;
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 2rem;
  animation: moveInLeft 1s ease-in-out;
  animation-fill-mode: backwards;
}
.heading-primary--sub {
  display: block;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1.4rem;
  animation: moveInRight 1s ease-in-out;
  animation-fill-mode: backwards;
}

.heading-secondary {
  display: inline-block;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  transition: all 0.2s;
  background-image: linear-gradient(to right, rgba(40, 180, 133, 0.8), rgba(126, 213, 111, 0.8));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heading-secondary:hover {
  transform: scale(1.1) skew(-5deg, 2deg);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-3 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.mb-1 {
  margin-bottom: 1.5rem;
}

.mb-2 {
  margin-bottom: 5rem;
}

.mb-3 {
  margin-bottom: 8rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  80% {
    opacity: 1;
    transform: translateX(5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }
  80% {
    opacity: 1;
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10rem;
  padding: 2rem 4rem;
  font-size: 1.6rem;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.5) scaleY(1.2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}
.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 10rem;
  transition: all 0.4s;
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white:hover {
  color: #28b485;
}
.btn--white::after {
  background-color: #fff;
}
.btn--animated {
  animation: moveInDown 1s 1s ease-out;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  display: inline-block;
  font-size: 1.6rem;
  color: #28b485;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid #28b485;
  padding: 0.3rem;
  transition: all 0.2s;
}
.btn-text:link:hover, .btn-text:visited:hover {
  color: #fff;
  background-color: #28b485;
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
.btn-text:link:active, .btn-text:visited:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  position: absolute;
  z-index: 1;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
}
.composition__photo--1 {
  top: -2rem;
  left: 0;
}
.composition__photo--2 {
  top: 2rem;
  right: 0;
}
.composition__photo--3 {
  top: 10rem;
  left: 20%;
}
.composition__photo:hover {
  z-index: 2;
  outline: solid 0.75rem #55c57a;
  outline-offset: 1rem;
  transform: scale(1.1) translateY(-0.1rem);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.9);
}

.feature {
  text-align: center;
  background-color: #f7f7f7;
  opacity: 0.8;
  padding: 2rem;
  color: #777;
  border-radius: 0.5rem;
  transition: all 0.4s;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
.feature:hover {
  transform: translateY(-1rem) scale(1.03);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
.feature__icon {
  font-size: 6rem;
  display: inline-block;
  background-image: linear-gradient(to right, rgba(40, 180, 133, 0.8), rgba(126, 213, 111, 0.8));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.feature__heading {
  letter-spacing: 0.3rem;
}
.feature__paragraph {
  font-size: 1.4rem;
}

.header {
  height: 95vh;
  background-image: linear-gradient(rgba(40, 180, 133, 0.5), rgba(126, 213, 111, 0.2)), url(../img/hero.jpg);
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  position: relative;
}
.header__logo-box {
  position: absolute;
  top: 3rem;
  left: 3rem;
}
.header__logo {
  height: 3rem;
}
.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class^=col-] {
  float: left;
}
[class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

.col-1-of-2 {
  width: calc((100% - 6rem)/2);
}

.col-1-of-3 {
  width: calc((100% - 2 * 6rem)/3);
}

.col-2-of-3 {
  width: calc((2*(100% - 2 * 6rem)/3) + 6rem);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem)/4);
}

.col-2-of-4 {
  width: calc((2*(100% - 3 * 6rem)/4) + 6rem);
}

.col-3-of-4 {
  width: calc(3*((100% - 3 * 6rem)/4) + 2*6rem);
}

.section-about {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -15vh;
}

.section-features {
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-position: top;
  background-size: cover;
  padding: 20rem 0;
  transform: skewY(-5deg);
  margin-top: -6rem;
}
.section-features > * {
  transform: skewY(5deg);
}

.section-tours {
  padding: 20rem 0;
}

/*# sourceMappingURL=style.css.map */
