/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    line-height: 1.75;
    font-family: "Lato", sans-serif;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(120deg, rgba(126, 213, 111, 0.2), #28b485), url(../img/hero.jpg);
    background-position: top;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    position: relative;
}

.header__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem;
}

.header__logo {
    height: 3rem;
}

.header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    /* width: 75%; */
    text-align: center;
}

.heading-primary {
    color: #fff;
    margin-bottom: 4rem;
}

.heading-primary--main {
    display: block;
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem;
    animation: moveInLeft 1s ease-in-out;
    animation-fill-mode: backwards;
}

.heading-primary--sub {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1.4rem;
    animation: moveInRight 1s ease-in-out;
    animation-fill-mode: backwards;
}

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10rem;
    padding: 2rem 4rem;
    font-size: 1.6rem;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

.btn:hover::after {
    opacity: 0;
    transform: scaleX(1.2) scaleY(1.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.4);
}

.btn::after {
    content: "";
    height: 100%;
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10rem;
    transition: all 0.4s;
}

.btn--white {
    background-color: #fff;
    color: #777;
}

.btn--white:hover {
    color: #28b485;
}

.btn--white::after {
    background-color: #fff;
}

.btn--animated {
    animation: moveInDown 1s 1s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-30%);
    }

    80% {
        opacity: 1;
        transform: translateX(5%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(30%);
    }

    80% {
        opacity: 1;
        transform: translateX(-5%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInDown {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}