@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem=10px

    @include respond-max($tablet-wide) {
        font-size: 56.25%; // 1rem=9px
    }

    @include respond-max($tablet) {
        font-size: 50%; // 1rem=8px
    }

    @include respond-min($desktop-large) {
        font-size: 75%; // 1rem=12px
    }

    body {
        box-sizing: border-box;
        padding: 30px;

        @include respond-max($tablet) {
            padding: 0;
        }
    }
}

::selection {
    background-color: $color-main;
    color: $color-white;
}