@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;

body {
    font-size: $font-size-default;
    line-height: 1.75;
    font-family: "Lato", sans-serif;
}

.heading-primary {
    color: $color-white;
    margin-bottom: 4rem;

    &--main {
        display: block;
        text-transform: uppercase;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 2rem;
        animation: moveInLeft 1s ease-in-out;
        animation-fill-mode: backwards;
    }

    &--sub {
        display: block;
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: 1.4rem;
        animation: moveInRight 1s ease-in-out;
        animation-fill-mode: backwards;
    }
}

.heading-secondary {
    display: inline-block;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    transition: all .2s;
    @include gradientText;

    &:hover {
        transform: scale(1.1) skew(-5deg, 2deg);
        text-shadow: .5rem 1rem 2rem rgba($color-black, 0.2);
    }
}

.heading-3 {
    font-size: $font-size-default;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $font-size-default;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}