@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;
@use '../base/animations'as *;

.header {
    height: 85vh;
    background-image: linear-gradient(rgba($color-main-dark, 0.5), rgba($color-main-light, 0.2)), url(../img/hero-small.jpg);
    background-position: top;
    background-size: cover;
    position: relative;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        height: 95vh;
    }

    @include respond-max($phone) {
        height: 85vh;
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }

    @media only screen and (min-resolution: 192dpi) and (min-width: 600px),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 600px),
    only screen and (min-width: 1200px) {
        background-image: linear-gradient(rgba($color-main-dark, 0.5), rgba($color-main-light, 0.2)), url(../img/hero.jpg);
    }

    &__logo-box {
        position: absolute;
        top: 3rem;
        left: 3rem;
    }

    &__logo {
        height: 3rem;
    }

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
        text-align: center;
    }
}