@use '../abstracts/variables'as *;

@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

@mixin gradientText {
    background-image: linear-gradient(to right, rgba($color-main-dark, 0.8), rgba($color-main-light, 0.8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin respond-min($breakpoint) {
    @media only screen and (min-width: $breakpoint) {
        @content;
    }
}

@mixin respond-max($breakpoint) {
    @media only screen and (max-width: $breakpoint) {
        @content;
    }
}