$color-main: #55c57a;
$color-main-light: #7ed56f;
$color-main-dark: #28b485;
$color-white: #fff;
$color-grey: #777;
$color-grey-light-1: #f7f7f7;
$color-black: #000;

$grid-width: 120rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 8rem;

// FONTS
$font-size-default: 1.6rem;